# Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [3]:
False

False

In [4]:
print(type(True))

<class 'bool'>

In [5]:
type(True)

bool

In [6]:
type(False)

bool

In [7]:
"Hello World"

'Hello World'

In [8]:
"Hello World".istitle() #Each word starts with an uppercase letter, followed by all lowercase letters.

True

In [9]:
"Hello world"

'Hello world'

In [10]:
"Hello world".istitle() #The word "world" does not start with an uppercase letter.

False

In [11]:
"HELLO WORLD".istitle() #The non-first characters are not all lowercase.

False

In [12]:
"Python 3.9 Is Awesome".istitle() #Numbers are ignored, and the casing of the letters follows the rules.

True

In [13]:
"123Hello World".istitle() #'123' is an uncased sequence, the 'H' that follows is uppercase, and the rest are lowercase.

True

In [14]:
 "".istitle() #An empty string returns False.

False

In [15]:
my_name = "Kunal"

In [16]:
print(my_name.isalnum()) #The string "Kunal" contains only letters → all alphabetic, no spaces, no special characters.So "Kunal".isalnum() → True.

True

In [17]:
my_str ="Kunal Kumar"

In [18]:
print(my_str.isalnum())

False

In [19]:
my_str.capitalize()

'Kunal kumar'

In [20]:
print(my_str.isalnum()) #check if all char are alphanumberic
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

False
False
False
True
False
False
False
False
True

## Boolean and Logical Operators

In [21]:
True and True

True

In [22]:
True and False

False

In [23]:
True or False

True

In [24]:
True or True

True

In [25]:
my_str='Kunal'
str_exp='Hello World'

In [26]:
my_str.isalpha() or str_exp.isnum()

True

## Lists:-
- Lists are used to store multiple items in single variables.
- Lists are one of 4-built- in data types in Python used to store collection of data
- list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements and allow duplicates values.
- Each element or value that is inside of a list is called an item.
- List items can be of any data types.
- Lists are created using Square brackets [].

In [27]:
type([])

list

In [28]:
list = ["apple","mango","banana","cherry","apple","cherry"]

In [29]:
print(list)

['apple', 'mango', 'banana', 'cherry', 'apple', 'cherry']

In [30]:
print(len(list))

6

In [31]:
list = ["abc",34,True, 40,"male"]
print(list)

['abc', 34, True, 40, 'male']

#### List Constructor
- It is also posssible to use the list() constructor, when creating a new list.

In [32]:
list1 = list

In [33]:
print(list1)

['abc', 34, True, 40, 'male']

In [34]:
# Access Items:-
list= ["banana","mango","cherry"]
print(list[1])

mango

In [35]:
# Negative Indexing
print(list[-1])

cherry

In [36]:
# Range of Indexes
list=["apple","mango","banana","cherry","orange","kiwi","melon"]
print(list[2:5])
print(list[:4])
print(list[1:])
print(list[-4:-1])
print(list[-1])

['banana', 'cherry', 'orange']
['apple', 'mango', 'banana', 'cherry']
['mango', 'banana', 'cherry', 'orange', 'kiwi', 'melon']
['cherry', 'orange', 'kiwi']
melon

In [37]:
# check if Item Exists:-
list1 = ["apple", "mango", "banana", "cherry", "orange", "kiwi", "melon"]
if "apple" in list1:
    print("Yes")

Yes

### Change Item Value:-
- To change the value of a specific item refer to the index numbers

In [38]:
lst = ["mango","banana","cherry"]
lst[1]= "apple"
print(lst)

['mango', 'apple', 'cherry']

In [39]:
# Change a range of Items Value
lst = ["apple","banana","cherry"]
lst[1:2] = ["mango","kiwi"]
print(lst)

['apple', 'mango', 'kiwi', 'cherry']

In [40]:
lst = ["apple","banana","cherry"]
lst[1:3] = ["mango"]
print(lst)

['apple', 'mango']

### Append Items:-
- To add an item to the end of the list use the append() method.

In [41]:
lst = ["apple","banana","cherry"]
lst.append("mango")
print(lst)

['apple', 'banana', 'cherry', 'mango']

In [42]:
lst = [1,2,3]

In [43]:
lst.append([4,5])
print(lst)

[1, 2, 3, [4, 5]]

### Insert Items:-
- To insert a new list item without replacing

In [44]:
lst = ["apple","banana","cherry"]
lst.insert(2,"mango")
print(lst)

['apple', 'banana', 'mango', 'cherry']

In [45]:
lst

['apple', 'banana', 'mango', 'cherry']

### Extend List:-
- To append elements from another list to the current list, use the extend() method.

In [46]:
lst1 = ["apple","banana","cherry"]
lst2 = ["mango","kiwi","papaya"]

In [47]:
lst1.extend(lst2)
print(lst1)

['apple', 'banana', 'cherry', 'mango', 'kiwi', 'papaya']

### Remove Specified Item:-
- The remove() method removes the specified item.

In [48]:
lst = ["apple","banana","cherry"]
lst.remove("banana")
print(lst)

['apple', 'cherry']

### Pop Method:-
- THis method used to remove the specific index.

In [49]:
lst = ["apple","banana","cherry"]
lst.pop(1)

'banana'

In [50]:
print(lst)

['apple', 'cherry']

In [51]:
# if you do not specify the index, the pop() method removes the last item.
lst = ["apple","banana","cherry"]
lst.pop()
print(lst)

['apple', 'banana']

### Delete Method:-
- The del keyword also removes the specific index.

In [52]:
lst = ["apple", "banana", "cherry"]
del lst[0]
print(lst)

['banana', 'cherry']

In [53]:
lst = ["apple", "banana", "cherry"]
del lst
print(lst) # Error because list are empty.

NameError: name 'lst' is not defined

### Clear List:-
- The Clear() method empties the list.
- The list still remains, but it has no content.

In [ ]:
lst = ["apple", "banana", "cherry"]
lst.clear()
print(lst)

### Loop through a list:-
- It can llop through the list items by using a 'for' loop.

In [54]:
lst = ["apple", "banana", "cherry"]
for x in lst:
    print(x)

apple
banana
cherry

In [55]:
lst = ["apple", "banana", "cherry"]
for i in range (len(lst)):
    print(lst[i])

apple
banana
cherry

In [56]:
# Using a while loop:-
lst = ["apple", "banana", "cherry"]
i=0
while i< len(lst):
    print(lst[i])
    i=i+1

apple
banana
cherry

### Sort list Alphanumerically:-
- List objects have a sort() method that will sort the list alphanumerically ascending order.

In [58]:
lst = ["orange","mango","apple","kiwi"]
lst.sort()
print(lst)

['apple', 'kiwi', 'mango', 'orange']

In [61]:
lst1 = [20,10,50,30]
lst1.sort()
print(lst1)

[10, 20, 30, 50]

### Sort Descending:-
- To sort descending, use the keyword argument reverse= True.

In [62]:
lst = ["orange","mango","apple","kiwi"]
lst.sort(reverse=True)
print(lst)

['orange', 'mango', 'kiwi', 'apple']

In [63]:
lst1 = [20,10,50,30]
lst1.sort(reverse=True)
print(lst1)

[50, 30, 20, 10]

In [64]:
# Case Sensitive Order
lst = ["orange","Mango","apple","Kiwi"]
lst.sort()
print(lst)

['Kiwi', 'Mango', 'apple', 'orange']

In [67]:
lst = ["orange","Mango","apple","Kiwi"]
lst.reverse()
print(lst)

['Kiwi', 'apple', 'Mango', 'orange']

In [68]:
# Copy a list:-
lst = ["orange","mango","apple","kiwi"]
lst1 = lst.copy()
print(lst1)

['orange', 'mango', 'apple', 'kiwi']

In [69]:
lst1 = ["orange","mango","apple","kiwi"]
lst2 = [1,2,3,4]
lst = lst1 + lst2
print(lst)

['orange', 'mango', 'apple', 'kiwi', 1, 2, 3, 4]

### count():Calculates total occurrence of given element of List

In [70]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [71]:
#length:Calculates total length of List
len(lst)

6

In [72]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [73]:
##Min and Max
min(lst)

1

In [74]:
max(lst)

5