In [1]:
lst1 = ["Kunal","Kumar","Data Science"]
lst2 = ["a","b","c"]

In [2]:
for i in lst1:
    print(i)

Kunal
Kumar
Data Science

In [13]:
output = zip(lst1,lst2)

In [14]:
output

In [5]:
list(output)

[('Kunal', 'a'), ('Kumar', 'b'), ('Data Science', 'c')]

In [11]:
# Zip object is an iterator
next(output)

('Data Science', 'c')

In [15]:
for i in output:
    print(i)

('Kunal', 'a')
('Kumar', 'b')
('Data Science', 'c')

In [16]:
output = zip(lst1,lst2)
for i,j in output:
    print(i,j)

Kunal a
Kumar b
Data Science c

In [17]:
lst1 = ["Kunal","Kumar","Data Science"]
lst2 = ["a","b","c"]
lst3 = [1,2,3]

In [21]:
output = zip(lst1, lst2, lst3)

In [22]:
list(output)

[('Kunal', 'a', 1), ('Kumar', 'b', 2), ('Data Science', 'c', 3)]

In [19]:
for i,j,k in output:
    print(i,j,k)

Kunal a 1
Kumar b 2
Data Science c 3

In [23]:
lst1 = ["Kunal","Kumar","Data Science","Machine Learning"]
lst2 = ["a","b","c", "d"]
lst3 = [1,2,3]

In [27]:
output = zip(lst1,lst2,lst3)

In [29]:
list(output)

[('Kunal', 'a', 1), ('Kumar', 'b', 2), ('Data Science', 'c', 3)]

In [36]:
dict1={'name':'Kunal','lst_name':'Kumar','age':24}
dict2={'name':'Amit','lst_name':'Verma','age':29}

In [37]:
dictionary=zip(dict1.items(),dict2.items())

In [38]:
for (i,j),(i2,j2) in dictionary:
    print(i, j) 
    print(i2,j2)

name Kunal
name Amit
lst_name Kumar
lst_name Verma
age 24
age 29