# Python Data Classes
In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as **init, repr, and eq**, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [22]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

In [23]:
person1=Person("Kunal",24,"ML")
person1

Person(name='Kunal', age=24, profession='ML')

The @dataclass decorator automatically generates the following methods for you:

1. init(): Initializes the object and assigns the provided values to the attributes.
2. repr(): Provides a string representation of the object.
3. eq(): Implements equality comparison between two objects of the class based on their attributes.

In [24]:
person1.age

24

In [25]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

In [26]:
rectangle1=Rectangle(10,11)
rectangle2=Rectangle(13,14,'red')

In [28]:
rectangle2.color

'red'

In [29]:
@dataclass(frozen=True)
class Point:
    x:int
    y:int
        
point=Point(3,4)

In [30]:
point

Point(x=3, y=4)

In [31]:
point.x=11

FrozenInstanceError: cannot assign to field 'x'

### Inheritance

In [34]:
@dataclass
class Person:
    name:str
    age:int
        
@dataclass
class Employee(Person):
    emp_id:str
    emp_profession:str

In [36]:
person=Person("Kunal",24)
employee=Employee("Kunal",24,"123","ML")

In [37]:
employee

Employee(name='Kunal', age=24, emp_id='123', emp_profession='ML')

In [38]:
employee.age

24

In [39]:
employee.emp_profession

'ML'

### Nested Classes

In [47]:
@dataclass
class Address:
    street:str
    city:str
    zipcode:int
@dataclass       
class Person:
    name:str
    age:int
    address:Address

In [48]:
address=Address("Varthur","Banglore",560007)
person=Person("Kunal",24,address)

In [49]:
person

Person(name='Kunal', age=24, address=Address(street='Varthur', city='Banglore', zipcode=560007))

In [50]:
person.address.city

'Banglore'